<!DOCTYPE html>

<% if (htmlWebpackPlugin.options.NG2) { %>
    <html lang="en-US">
        <head>
            <meta charset="UTF-8">
            <title>NG1-shift Example(NG2 compatibility)</title>
            <base href="/">
        </head>
        <body>
            <app-component></app-component>
            <script src="build/polyfills.js"></script>
            <script src="build/vendor.js"></script>
            <script src="build/bundle.js"></script>
        </body>
    </html>
<% } else { %>
    <html lang="en-US" ng-app="AppModule" ng-strict-di>
        <head>
            <meta charset="UTF-8">
            <title>NG1-shift Example</title>
        </head>
        <body>
            <app-component></app-component>
            <script src="build/vendor.js"></script>
            <script src="build/bundle.js"></script>
        </body>
    </html>
<% } %>
